@font-face {
    font-family: 'emd_Reg';
    src: url('https://daniel-becerraf.github.io/av/av-fonts/embermoderndisplaystd-regular-webfont.woff2') format('woff2'),
         url('https://daniel-becerraf.github.io/av/av-fonts/embermoderndisplaystd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'emd_Bold';
    src: url('https://daniel-becerraf.github.io/av/av-fonts/embermoderndisplaystd-bold-webfont.woff2') format('woff2'),
         url('https://daniel-becerraf.github.io/av/av-fonts/embermoderndisplaystd-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'emd_Sub';
    src: url('https://daniel-becerraf.github.io/av/av-fonts/embermodernsubhead-regular-webfont.woff2') format('woff2'),
         url('https://daniel-becerraf.github.io/av/av-fonts/embermodernsubhead-regular-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;

}

#Htitle{

    font-size: 100px;
    font-family: 'emd_Bold';

}

h2{

    font-weight: 'emd_Sub';
    font-size: 75px;
    
}
